@using Microsoft.IdentityModel.Tokens
@model IEnumerable<ToDoList.Application.ToDoItem.ToDoItemDto>

<div class="row">
    @if(Model.IsNullOrEmpty())
    {
      <h1>You have no tasks today</h1>    
    }
    else
        @foreach (var item in Model)
    {
        <div class="card m-3" style="width: 18rem; position: relative;">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
                <div class="icons-container" style="position: absolute; top: 10px; right: 10px;">
                    <a class="btn-icon" asp-controller="ToDoItem" asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fas fa-trash"></i>
                    </a>
                    <a class="btn-icon" asp-controller="ToDoItem" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    }
</div>


@{
    ViewData["Title"] = "Details";
}
<style>
    .btn-icon {
        background: none;
        border: none;
        cursor: pointer;
        margin-left: 5px;
    }

    .icons-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
</style>